<div class="footer_container">
  <div class="footer_1">
    <span class="footer_head">Reach us</span>
    <div class="address"><span class="foot_icon"><img src="../../assets/location.png" alt="" srcset=""></span> 133/2,4th floor<br>
      Janardhan Towers, Residency Rd,<br>
      Bengaluru, Karnataka</div>
      <div class="contact_num">
        <span class="foot_icon"><img src="../../assets/call.png" alt="" srcset=""></span>+91 8147925536
      </div>
  </div>
  <div class="footer_2">
    <span class="footer_head pages">Pages</span>
    <div class="list">
      <div><a href="/about">About us</a></div>
      <div class="for_margin"><a href="/take-oath">Oath Page</a></div>
      <div><a href="offerings">Our offerings</a></div>
      <div class="for_margin"><a href="what-we-do">What we do</a></div>
      <!-- <div>Gloryboard</div> -->
    </div>
  </div>
  <div class="footer_3">
    <span class="footer_head"><a href="/privacy-policy">Policies</a></span>
    <div><a href="/terms-and-conditions">Terms & Conditions</a></div>
    <div class="for_margin"><a href="privacy-policy">Privacy Policy</a></div>
  </div>
</div>
<itl-social></itl-social>