<div class="whatContainer">
  <div class="upperMain">
    <div class="left_upper">
      <img src="../../assets/what_main.png" alt="" srcset="">
    </div>
    <div class="right_upper">
      <div class="whatTxt">
        <div class="txtMain">What we do?</div>
        <div class="txtSub">Ah! Happy to have you among us.<br>
          Have a sneak peek into everything we are up to!</div>
      </div>
    </div>
  </div>

  <div class="whatContent">
    <div class="whatCard reverseCard">
      <div class="card_left">
        <div class="card_head" style="color: #8825B4">Academics</div>
        <div class="card_sub">Make the most out of that mandatory curriculum!</div>
        <div class="cardPoints">
          <ul>
            <li>We visualize and analyze patterns in their grades across different subjects and examinations.</li>
            <li>Gain valuable insights into the average grades scored in specific subjects among their classmates.</li>
            <li>Store digital report cards conveniently and access them anytime, anywhere.</li>
            <li>We empower parents with data-driven decision-making tools to support their child's academic journey.</li>
          </ul>
        </div>
      </div>
      <div class="card_right og"><img src="../../assets/whatM_1.png" alt="" srcset=""></div>
    </div>

    <div class="whatCard">
      <div class="card_right"><img src="../../assets/whatM_2.png" alt="" srcset=""></div>
      <div class="card_left og_2">
        <div class="card_head" style="color: #F96464">Health</div>
        <div class="card_sub">Your child's well-being is a treasured possession.</div>
        <div class="cardPoints">
          <ul>

            <li>Delve into the Health Module's cutting-edge capabilities, capturing vital health data of children.</li>
            <li>Witness the magic as it calculates their BMI and compares it to globally recognized WHO standards.</li>
            <li>Keep yourself informed through personalized alerts, warning about potential unhealthy BMI in the near future.</li>
            <li>Embark on a thrilling journey of proactive well-being, where data-driven insights pave the way to a healthier future.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="whatCard reverseCard">
      <div class="card_left">
        <div class="card_head" style="color: #00A4C9">Co-curricular</div>
        <div class="card_sub" style="white-space: nowrap;">Expand your child’s horizons.</div>
        <div class="cardPoints">
          <ul>
            <li>With our holistic Co-curricular module, you get the best chance to ignite their passion and unleash their true potential! </li>
            <li>Help your child discover a world where learning goes beyond the classroom walls.  </li>
            <li>Using our super fun brownie points system, recognize your child's accomplishments and reward them. </li>
            <li>More the accomplishments, more the brownie points, more the rewards!</li>
          </ul>
        </div>
      </div>
      <div class="card_right og"><img src="../../assets/whatM_3.png" alt="" srcset=""></div>
    </div>
    <div class="whatCard">
      <div class="card_right"><img src="../../assets/whatM_4.png" alt="" srcset=""></div>
      <div class="card_left og_2">
        <div class="card_head" style="color: #FFC122">Memories</div>
        <div class="card_sub">Happiness is laughing at old childhood photos.</div>
        <div class="cardPoints">
          <ul>
            <li>Immerse yourself in the Memories Module, a revolutionary way to capture and cherish precious moments in your child's life.</li>
            <li>Create a captivating timeline of their growth, preserving memories in a delightful candy crush timeline format.</li>
            <li>Organize photos effortlessly into smart collections, making it easy to relive moments by themes like toys, festivals, and birthdays.</li>
            <li>Safeguard memories with encrypted storage, ensuring their safety and accessibility for years to come.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="whatCard reverseCard">
      <div class="card_left">
        <div class="card_head" style="color: #072388">Webinars</div>
        <div class="card_sub">Take an interactive approach to learning important life skills.</div>
        <div class="cardPoints">
          <ul>
            <li>Jump headfirst with our Webinars, where knowledge is the key to unlocking your child's boundless potential.</li>
            <li>Early exposure to essential life skills can pave the way for kids becoming street smart.</li>
            <li>Our carefully curated webinars provide a unique opportunity to introduce them to important life skills at a young age. </li>
            <li>From effective communication and critical thinking to financial literacy and time management, our expert-led sessions lay a strong foundation for their future success.</li>
          </ul>
        </div>
      </div>
      <div class="card_right og"><img src="../../assets/whatM_5.png" alt="" srcset=""></div>
    </div>
    <div class="whatCard">
      <div class="card_right"><img src="../../assets/whatM_6.png" alt="" srcset=""></div>
      <div class="card_left og_2">
        <div class="card_head" style="color: #00C300">Child psychologist</div>
        <div class="card_sub">Give your child the gift of emotional wellness.</div>
        <div class="cardPoints">
          <ul>
            <li>Access the expertise of qualified child psychologists through personalized, one-on-one sessions.</li>
            <li>Overcome challenges and navigate the complexities of school life with the support of dedicated psychologists.</li>
            <li>Confidential and safe environment for discussing concerns, promoting open and honest communication.</li>
            <li>Acquire techniques to manage emotions, build resilience, and foster a positive mindset for a happier and healthier life.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>