<div class="social_container">
  <div class="mobile_wrapper">    
    <div class="logo_section">
      <img src="../../assets/itl_logo.png" alt="" srcset="">
      <!-- <span>Intellection</span> -->
    </div>
    <div class="company_name web_view">© 2022 RMsquare Innovations Pvt Ltd. All Rights Reserved.</div>
    <div class="social_icons">
      <a target="_blank" href="https://www.facebook.com/Intellectionofficial"><img src="assets/facebook.png" alt="" srcset=""></a>
      <a target="_blank" class="mid_social" href="https://www.instagram.com/intellection_official/"><img src="assets/instagram.png" alt="" srcset=""></a>
      <a target="_blank" href="https://www.linkedin.com/company/intellection-life/"><img src="assets/linkedin.png" alt="" srcset=""></a>
    </div>
  </div>
  <div class="company_name mobile_view">© 2022 RMsquare Innovations Pvt Ltd. All Rights Reserved.</div>
</div>