.social_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 2%;
    line-height: 0;

}
.logo_section{
    font-size: 0.4rem;
    display: flex;
    align-items: center;
    img{
        width: 55%;
    }
    span{
        font-weight: bold;
        margin-left: 5%;
    }
}
.company_name{
    font-size: 0.2rem;
}
.social_icons{
    display: flex;
    img{
        width:100%;
        margin: 5%;
        text-decoration: none;
    }
}
.mobile_view{
    display: none;
}
.mid_social{
    margin-left: 10%;
    margin-right: 10%;
}
.mobile_wrapper{
    // display: none;
    width: auto;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width: 900px) {
    .social_container{
        flex-wrap: wrap;
        padding: 2% !important;
        flex-wrap: wrap;
    }
    .web_view{
        display: none;
    }
    .mobile_view{
        display: block;
        margin-top: 5%;
        font-size: 0.3rem;
        text-align: center;
        width: 100%;
    }
    .mobile_wrapper{
        display: block;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .logo_section{
        img{
            width: 40%;
        }
    }
}