.pricing_header{
    text-align: center;
    font-size: 0.55rem;
    font-weight: bold;
    margin-top: 2%;
}
.pricing_container{
    background-image: url('../../assets/pricing_bg.png');
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 80vh;
    margin-top: 5%;
}
.pricing_subHeader{
    text-align: center;
    font-size: 0.3rem;
}
.card_wrapper{
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 5%;
}
.secondCard{
    margin-left: 40px;
    margin-right: 40px;
}
.rocket{
    position: absolute;
    top: 30%;
    left: 5%;
    width: 3rem;
}
.special_highlight{
    color: #3d5cff;
    font-weight: 550;
}
@media screen and (max-width: 900px){
    .secondCard{
        margin-left: 0 !important;
        margin-top: 5%;
        margin-right: 0 !important;
        margin-bottom: 5%;
    }
    .pricing_container{
        margin-top: 12%;
        background-size: cover;
    }
    .card_wrapper{
        flex-direction: column;
        align-items: center;
        margin-top: 5%;
    }
    .rocket{
        display: none;
        left: -4% !important;
    }
}