<div class="main_form_container" #formOverlay></div>
    <div class="formContainer" #form>
        <div class="top_form">
            <div class="formTxt">
                <div class="mainTxt">{{defaultForm ? 'Book a demo' : 'Take an Oath'}}</div>
                <div class="subTxt">Get started by completing the form</div>
            </div>
            <span (click)="closeFrom.emit()">&times;</span>
        </div>
        <div class="main_form">
            <div class="image_upload" *ngIf="!defaultForm">
                <label class="hoverable" for="fileInput">
                  <img class="uploadimg" [src]="url ? url : 'assets/upload_profile.png'"> 
                  <div class="hover-text">Choose file</div>
                  <div class="background"></div>
                </label>
                <span class="userProfile">Upload Image</span>
                <br/>
                <input id="fileInput" type='file' (change)="onSelectFile($event)">
            </div>
            <form action="" [formGroup]="genericForm">
                <div class="input_wrapper">
                    <input type="text" class="inputText mainTxt" formControlName="parentName" required/>
                    <span class="floating-label-form">Parent Name</span>
                    <span class="errorLog" *ngIf="genericForm.get('parentName')?.touched && genericForm.get('parentName')?.invalid">Please enter valid details</span>
                </div>
                <div class="input_wrapper">
                    <input type="text" class="inputText mainTxt" formControlName="designation" required/>
                    <span class="floating-label-form">Designation</span>
                    <span class="errorLog" *ngIf="genericForm.get('designation')?.touched && genericForm.get('designation')?.invalid">Please enter valid details</span>
                </div>
                <div class="input_wrapper">
                    <input type="text" class="inputText notOptional" formControlName="companyName" (click)="makeFocus()" (input)="makeFocus()" #companyName/>
                    <span class="floating-label-form" #optionalData>Company Name (optional)</span>
                </div>
                <div class="input_wrapper">
                    <input type="text" class="inputText mainTxt" formControlName="email" required/>
                    <span class="floating-label-form">Email</span>
                    <span class="errorLog" *ngIf="genericForm.get('email')?.touched && genericForm.get('email')?.invalid">Please enter valid details</span>
                </div>
                <div class="input_wrapper">
                    <input type="text" class="inputText mainTxt" formControlName="phoneNumber" required/>
                    <span class="floating-label-form">Phone Number</span>
                    <span class="errorLog" *ngIf="genericForm.get('phoneNumber')?.touched && genericForm.get('phoneNumber')?.invalid">Please enter valid details</span>
                </div>
                <!-- <div class="formSuccess" *ngIf="oathTakenSuccess">Thanks for taking an oath to make your child's future bright</div> -->
                <itl-button class="itlBtnMain" [btnTxt]="'Preview'" [fontSizeValue]="'0.2rem'" [disableBtn]="genericForm.invalid || genericForm.get('file')?.value === null" (btnClick)="submitOath()"></itl-button>
            </form>
        </div>
    </div>
