<div class="about_container">
  <div class="about_upper">
    <div class="about_tag">Support the holistic growth of your child.</div>
    <!-- <div class="about_sub">Children who participate in extracurricular activities improve thier social skills.</div> -->
    <div class="about_img">
      <img class="about_img_pic" src="../../assets/about_bg.png" alt="" srcset="">
    </div>
    <div class="about_content">
      <div class="about_left">
        <div class="about_left_head">About us</div>
        <div class="about_left_des">
          <p>We at Intellection have always been at the forefront of revolutionizing education, embracing innovative approaches that go beyond traditional learning methods. Our team of dedicated educators, experts, and technologists collaborate seamlessly to create an environment where every child can thrive, grow, and excel. At our core, we are driven by a genuine passion for children and an unwavering commitment to their holistic growth and success. We understand that every child is unique, with their own set of talents, dreams, and aspirations. </p>

          <p>We are a community of passionate educators, mentors, and parents, united by a shared vision: to empower the next generation with the skills and mindset needed to thrive in an ever-changing world. </p>
        </div>
      </div>
      <div class="about_right">
        <img class="kid_study" src="../../assets/about_home.png" alt="" srcset="">
      </div>
    </div>

    <div class="about_mission">
      <img class="goal" src="../../assets/3.png" alt="" srcset="">
      <div class="mission_content">
        <div class="mission_left"><img class="boat" src="../../assets/11.png" alt="" srcset=""></div>
        <div class="mission_right">
          <div class="mission_head">Our Mission</div>
          <div class="missionDes">
            “To help children become what they truly aspire to be.”
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="our_team">
      <div class="meet_head">Meet our team</div>
      <div class="praise">The People who made it possible</div>

      <div class="people">
        <div class="row">
          <div class="column">
            <div class="card">
              <img src="assets/pd.png" alt="Jane" style="width:100%">
              <div class="container">
                <h2>Priyadarshan Bhatt</h2>
                <p class="title">Co-founder</p>
              </div>
            </div>
          </div>
        
          <div class="column">
            <div class="card">
              <img src="assets/unknown.png" alt="Mike" style="width:100%">
              <div class="container">
                <h2>Unknown</h2>
                <p class="title">Art Director</p>
              </div>
            </div>
          </div>
          
          <div class="column">
            <div class="card">
              <img src="assets/rahul.png" alt="John" style="width:100%">
              <div class="container">
                <h2>Rahul Agrawal</h2>
                <p class="title">CEO & Co-founder</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</div>