<div class="about_container">
  <div class="about_upper">
    <div class="about_tag">Support the holistic growth of your child.</div>
    <!-- <div class="about_sub">Children who participate in extracurricular activities improve thier social skills.</div> -->
    <div class="about_img">
      <img class="about_img_pic" src="../../assets/about_bg.png" alt="" srcset="">
    </div>
    <div class="about_content">
      <div class="about_left">
        <div class="about_left_head">About us</div>
        <div class="about_left_des">
          We are a groundbreaking startup transforming child development with a holistic, data-driven approach. 
          Capture academic performance, visualize trends, and store digital report cards. Track health metrics, receive personalized alerts, and follow expert suggestions for maintaining your child's well-being. 
          Engage in co-curricular activities, earn rewards, and unlock your child's full potential. 
          Preserve and organize precious memories in a secure digital vault. Participate in captivating webinars and receive one-on-one sessions with expert psychologists to enhance life skills and mental well-being.
          Embark on an extraordinary journey that shapes your child's future like never before!
        </div>
      </div>
      <div class="about_right">
        <img class="kid_study" src="../../assets/about_home.png" alt="" srcset="">
      </div>
    </div>

    <div class="about_mission">
      <img class="goal" src="../../assets/3.png" alt="" srcset="">
      <div class="mission_content">
        <div class="mission_left"><img class="boat" src="../../assets/11.png" alt="" srcset=""></div>
        <div class="mission_right">
          <div class="mission_head">Our Mission</div>
          <div class="missionDes">
            We are dedicated to providing resources and guidance to support the holistic growth and development of children. We believe that every child has the potential to thrive and reach their full potential, and we are committed to providing the tools and knowledge to make that a reality.
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="our_team">
      <div class="meet_head">Meet our team</div>
      <div class="praise">The People who made it possible</div>

      <div class="people">
        <div class="row">
          <div class="column">
            <div class="card">
              <img src="assets/pd.png" alt="Jane" style="width:100%">
              <div class="container">
                <h2>Priyadarshan Bhatt</h2>
                <p class="title">Co-founder</p>
              </div>
            </div>
          </div>
        
          <div class="column">
            <div class="card">
              <img src="assets/unknown.png" alt="Mike" style="width:100%">
              <div class="container">
                <h2>Unknown</h2>
                <p class="title">Art Director</p>
              </div>
            </div>
          </div>
          
          <div class="column">
            <div class="card">
              <img src="assets/rahul.png" alt="John" style="width:100%">
              <div class="container">
                <h2>Rahul Agrawal</h2>
                <p class="title">CEO & Co-founder</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</div>